<div class="row">

    <div ng-click="vm.go('/faculties')" class="col-md-4 col-xs-6">
        <div class="panel panel-color cursorPointer">
            <div class="panel-heading">
                <div class="row">
                    <div class="text-center">
                        <div class="huge">Faculties</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-click="vm.go('/specialities')" class="col-md-4 col-xs-6">
        <div class="panel panel-color cursorPointer">
            <div class="panel-heading">
                <div class="row">
                    <div class="text-center">
                        <div class="huge">Specialities</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-click="vm.go('/subjects')" class="col-md-4 col-xs-6">
        <div class="panel panel-color cursorPointer">
            <div class="panel-heading">
                <div class="row">
                    <div class="text-center">
                        <div class="huge">Subjects</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-click="vm.go('/groups')" class="col-md-4 col-xs-6">
        <div class="panel panel-color cursorPointer">
            <div class="panel-heading">
                <div class="row">
                    <div class="text-center">
                        <div class="huge">Groups</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-click="vm.go('/tests')" class="col-md-4 col-xs-6">
        <div class="panel panel-color cursorPointer">
            <div class="panel-heading">
                <div class="row">
                    <div class="text-center">
                        <div class="huge">Tests</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-click="vm.go('/testDetails')" class="col-md-4 col-xs-6">
        <div class="panel panel-color cursorPointer">
            <div class="panel-heading">
                <div class="row">
                    <div class="text-center">
                        <div class="huge">Tests details</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-click="vm.go('/timeTables')" class="col-md-4 col-xs-6">
        <div class="panel panel-color cursorPointer">
            <div class="panel-heading">
                <div class="row">
                    <div class="text-center">
                        <div class="huge">Timetables</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-click="vm.go('/questions')" class="col-md-4 col-xs-6">
        <div class="panel panel-color cursorPointer">
            <div class="panel-heading">
                <div class="row">
                    <div class="text-center">
                        <div class="huge">Questions</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-click="vm.go('/students')" class="col-md-4 col-xs-6">
        <div class="panel panel-color cursorPointer">
            <div class="panel-heading">
                <div class="row">
                    <div class="text-center">
                        <div class="huge">Students</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>