<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2>Students <a href="#/students/create/" class="btn btn-default">New</a></h2>
                <h4>Showing {{vm.count}} results</h4>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-1">Gradebook</th>
                                <th class="col-md-1">Photo</th>
                                <th class="col-md-3">Surname</th>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">Fname</th>
                                <th class="col-md-1">Group</th>
                                <th class="col-md-1">password</th>
                                <th class="col-md-1">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="student in vm.students|itemsPerPage:vm.itemsPerPageValue" total-items="vm.count">
                                <td>
                                    <a href="#/students/edit/{{student.user_id}}"><span ng-bind="student.gradebook_id" /></a>
                                </td>
                                <td>
                                    <span ng-if="student.photo" ng-click="vm.showPhoto(student)">Click to see</span>
                                    <span>&nbsp;</span>
                                </td>
                                <td><span ng-bind="student.student_surname" /></td>
                                <td><span ng-bind="student.student_name" /></td>
                                <td><span ng-bind="student.student_fname" /></td>
                                <td><span ng-bind="student.group_name" /></td>
                                <td><span ng-bind="student.plain_password" /></td>
                                <td><button data-ng-click="vm.delete(student)" class="btn btn-default">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" 
                        on-page-change="vm.findMany(newPageNumber)" >
                    </dir-pagination-controls>
                </div>
            </div>

        </div>
    </div>

</div>