<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3>Speciality</h3>
            </div>

            <div class="panel-body">

                <form name="specialityForm" class="form-horizontal" novalidate>
                    <fieldset>

                        <input type="hidden" name="speciality_id" ng-value="vm.speciality.speciality_id" />

                        <div class="form-group" ng-class="{ 'has-error': specialityForm.name.$dirty && specialityForm.name.$invalid }">
                            <label class="col-xs-2 control-label"><p class="text-left">Name: *</p></label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" name="name" ng-model="vm.speciality.speciality_name" required>
                                <span class="has-error has-feedback" ng-show="specialityForm.name.$dirty && specialityForm.name.$invalid">The name is required.</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': specialityForm.code.$dirty &&specialityForm.code.$invalid }">
                            <label class="col-xs-2 control-label"><p class="text-left">Code: *</p></label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" name="code" ng-model="vm.speciality.speciality_code" required>
                                <span class="has-error has-feedback" ng-show="specialityForm.code.$dirty && specialityForm.code.$invalid">The code is required.</span>
                            </div>
                        </div>

                    </fieldset>

                    <div class="form-action">
                        <input type="submit" ng-click="vm.isUpdate? vm.update(vm.speciality) : vm.create(vm.speciality)" class="btn btn-success" ng-disabled="specialityForm.$dirty && specialityForm.$invalid">
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>