<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2>Groups <a href="#/groups/create/" class="btn btn-default">New</a></h2>
                <h4>Showing {{vm.count}} results</h4>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-3">Name</th>
                                <th class="col-md-4">Faculty</th>
                                <th class="col-md-4">Speciality</th>
                                <th class="col-md-1">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="group in vm.groups|itemsPerPage:vm.itemsPerPageValue" total-items="vm.count">
                                <td>
                                    <a href="#/groups/edit/{{group.group_id}}"><span ng-bind="group.group_name" /></a>
                                </td>
                                <td><span ng-bind="group.faculty_name" /></td>
                                <td><span ng-bind="group.speciality_name" /></td>
                                <td><button data-ng-click="vm.delete(group)" class="btn btn-default">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" 
                        on-page-change="vm.findMany(newPageNumber)" >
                    </dir-pagination-controls>
                </div>
            </div>

        </div>
    </div>

</div>